<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Fake News Detector</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">📰 Fake News AI</div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/detector">Detector</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <section class="hero">

        <h1>AI-Powered Fake News Detection</h1>

        <p>
            Detect misinformation using Machine Learning and Artificial Intelligence.
        </p>

        <a href="/detector">
            <button class="hero-btn">Start Detection</button>
        </a>

    </section>

    <section class="stats">

        <div class="card">
            <h2>98.58%</h2>
            <p>Model Accuracy</p>
        </div>

        <div class="card">
            <h2>44,000+</h2>
            <p>News Articles</p>
        </div>

        <div class="card">
            <h2>AI</h2>
            <p>Powered Detection</p>
        </div>

    </section>

    <section class="features">

        <h2>Features</h2>

        <div class="feature-grid">

            <div class="feature-card">
                🤖 AI News Analysis
            </div>

            <div class="feature-card">
                📊 Confidence Score
            </div>

            <div class="feature-card">
                📜 Prediction History
            </div>

            <div class="feature-card">
                ⚡ Real-Time Detection
            </div>

        </div>

    </section>

    <section class="steps">

    <h2>How It Works</h2>

    <div class="step-container">

        <div class="step">
            <h3>1️⃣ Enter News</h3>
            <p>Paste any news headline or article.</p>
        </div>

        <div class="step">
            <h3>2️⃣ AI Analysis</h3>
            <p>Our Machine Learning model analyzes the text.</p>
        </div>

        <div class="step">
            <h3>3️⃣ Get Result</h3>
            <p>Receive Real or Fake prediction instantly.</p>
        </div>

    </div>

</section>

</body>
</html>
